<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_formatted_s(:nice_date) %>
  <% end %>

<div class="columns mt-4 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @entry.meal_type %>:
        <%= @entry.category.title if @entry.category.present? %>
      </p>

      <div class="panel-block">
        Calories: <%= @entry.calories %>
      </div>

      <div class="panel-block">
        Protein: <%= @entry.protein %>
      </div>

      <div class="panel-block">
        Carbs: <%= @entry.carbs %>
      </div>

      <div class="panel-block">
        Fats: <%= @entry.fats %>
      </div>
    </nav>

      <div class="columns is-mobile">
        <div class="column">
          <%= link_to 'Edit', edit_entry_path(@entry), class: "button is-grey has-text-weight-bold" %>
          <%= link_to 'Delete', entries_path(@entry), method: :delete, data: { confirm: "Are you sure?" } , class: "button is-danger has-text-weight-bold" %>
        </div>
      </div>

  </div>
</div>
